<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/message.css" />
  <style>
    nav div:first-child:before {
      background-image: url('/images/write.png');
    }
    nav div:nth-child(2):before {
      background-image: url('/images/all.png');
    }
    nav div:last-child:before {
      background-image: url('/images/my.png');
    }
    section article {
      -webkit-transition: all 0.618s;
      -moz-transition: all 0.618s;
      -ms-transition: all 0.618s;
      -o-transition: all 0.618s;
      transition: all 0.618s;
    }
    section article:hover {
      cursor: pointer;
      -webkit-box-shadow: 5px 5px 5px #EEEEEE;
      -moz-box-shadow: 5px 5px 5px #EEEEEE;
      box-shadow: 5px 5px 5px #EEEEEE;
      top: -5px;
      left: -5px;
    }
    section article > p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  </style>
</head>
<body>
  <div id="top"><span>welcome , <span id="name"><%= account %></span></span>&nbsp;&nbsp;<span id="quit">quit</span></div>
  <header>
    <img src="/images/logo.png" alt="logo" />
    <div>
      <h1>KNOWNSEC</h1>
      <p><span>Major</span><span>Absorbed</span><span>Share</span></p>
    </div>
  </header>
  <content>
    <nav>
      <div id="write">
        <p>NEW</p>
      </div>
      <div id="all">
        <p>ALL</p>
      </div>
      <div id="my">
        <p>MY</p>
      </div>
    </nav>
    <section id="noteBody">
    </section>
  </content>
  <div>
    <ul class="pagination">
      <li class="pageBefore">‹</li>
      <li class="pageNext">›</li>
    </ul>
    <!--<input class="pageTarget" type="text" name="pageTarget" />-->
    <!--<span class="pageGo">GO</span>-->
  </div>
  <footer>
    <p>design & created by charlesMoone</p>
  </footer>
  <div id="newNote">
    <input type="text" id="noteTitle" name="noteTitle" placeholder="write your title here" />
    <textarea name="noteContent" id="noteContent" placeholder="write your content here"></textarea>
    <div class="operation">
      <button id="cancel">cancel</button>
      <button id="submit">submit</button>
    </div>
  </div>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/message.js"></script>
<script src="/javascripts/paginate.js"></script>
<script src="/javascripts/index.js"></script>
</body>
</html>