<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div id="top"><span>welcome , <%= account %></span>&nbsp;&nbsp;<span id="quit">quit</span></div>
  <header>
    <img src="/images/logo.png" alt="logo" />
    <article>
      <h1>KNOWNSEC</h1>
      <p><span>Major</span><span>Absorbed</span><span>Share</span></p>
    </article>
  </header>
  <content>
    <nav>
      <div></div>
      <div></div>
      <div></div>
    </nav>
    <section>
      <article>
        <h4>this is title</h4>
        <p>this is content.this is content.this is content.this is content.this is content.this is content.this is content.</p>
        <span>this is person</span>
        <span>this is time</span>
      </article>
      <article>
        <h4>this is title</h4>
        <p>this is content.this is content.this is content.this is content.this is content.this is content.this is content.</p>
        <span>this is person</span>
        <span>this is time</span>
      </article>
      <article>
        <h4>this is title</h4>
        <p>this is content.this is content.this is content.this is content.this is content.this is content.this is content.</p>
        <span>this is person</span>
        <span>this is time</span>
      </article>
      <article>
        <h4>this is title</h4>
        <p>this is content.this is content.this is content.this is content.this is content.this is content.this is content.</p>
        <span>this is person</span>
        <span>this is time</span>
      </article>
      <article>
        <h4>this is title</h4>
        <p>this is content.this is content.this is content.this is content.this is content.this is content.this is content.</p>
        <span>this is person</span>
        <span>this is time</span>
      </article>
      <article>
        <h4>this is title</h4>
        <p>this is content.this is content.this is content.this is content.this is content.this is content.this is content.</p>
        <span>this is person</span>
        <span>this is time</span>
      </article>
    </section>
  </content>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/index.js"></script>
</body>
</html>