<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/user/index.css' />
    <link rel='stylesheet' href='/stylesheets/message.css' />
</head>
<body>
<div>
    <h1>Welcome to this place</h1>
    <input type="text" name="account" id="account" placeholder="enter your account" />
    <input type="password" name="password" id="password" placeholder="enter your password" />
    <span>forget?</span>
    <div class="submit">
        <button id="register">register</button>
        <button id="login">login</button>
    </div>
</div>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/message.js"></script>
<script src="/javascripts/user/user.js"></script>
</body>
</html>
