body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100vw;
    min-width: 1040px;
    background: url("/images/bg.png") no-repeat 0 0/ 100% auto;
}
#top {
    width: 100vw;
    text-align: right;
    padding: 15px 0 0;
    color: white;
    font-size: 18px;
}
#quit {
    margin: 0 15px 0 0;
    cursor: pointer;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}
#quit:hover {
    color: #E26359;
}
header {
    display: inherit;
    flex-flow: row nowrap;
    padding: 160px 100px 0 0;
    align-items: center;
    width: 940px;
    min-height: 200px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
}
header img {
    width: 200px;
    height: 200px;
}
header div {
    display: inherit;
    flex: 1;
    flex-flow: column nowrap;
}
header h1,
header article span,
section article h4,
section article p,
section article span {
    font-family: "Lucida Grande";
}
header h1 {
    font-size: 72px;
    color: #1885BA;
    margin: 0 0 0 20px;
    font-weight: bold;
}
header div p {
    text-align: right;
}
header div span {
    font-size: 36px;
    color: #72C3EF;
    margin: 0 18px;
}
content {
    display: inherit;
    flex-flow: row-reverse nowrap;
    padding: 35px 0 0;
    width: 1040px;
}
nav div {
    margin: 0 0 20px 35px;
    width: 108px;
    height: 108px;
    background: #72C3EF no-repeat 50% 50%/50% 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
nav div:hover {
    background-color: #1885BA;
    cursor: pointer;
}
section {
    display: inherit;
    flex: 1;
    flex-flow: column nowrap;
}
section article {
    position: relative;
    top: 0;
    left: 0;
    background: #FBFBFB;
    margin: 0 0 20px 0;
}
section article h4 {
    padding: 10px 10px 0;
    font-size: 24px;
    font-weight: normal;
    color: #1885BA;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
section h4 span {
    flex: 1;
}
section h4 > p {
    width: 26px;
    height: 26px;
    background: url("/images/remove.png") 0 0/100% 100% no-repeat;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
section h4 > p:hover {
    cursor: pointer;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
section article > p {
    padding: 0 10px;
    font-size: 16px;
    width: 867px;
    color: rgba(0, 0, 0, 0.5);
}
section article > span {
    padding: 0 10px 10px;
    display: inline-block;
    font-size: 14px;
    width: 427px;
    color: rgba(0, 0, 0, 0.5);
}
section article span:nth-child(3) {
    cursor: pointer;
}
section article span:last-child {
    text-align: right;
}
#newNote, #newReply {
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}
#noteTitle, #noteContent, #replyContent {
    border: none;
    width: 500px;
    resize: none;
    font-size: 20px;
    text-indent: 10px;
    margin: 0 0 20px 0;
}
#noteTitle {
    height: 50px;
}
#noteContent, #replyContent {
    padding: 10px 0;
    height: 200px;
}
.operation {
    display: inherit;
    flex-flow: row nowrap;
    width: 500px;
}
.operation > * {
    flex: 1;
    border: none;
    background-color: white;
    font-size: 20px;
    padding: 5px 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
#cancel {
    margin: 0 10px 0 0;
}
#cancel:hover {
    background: #E26359;
    color: white;
}
#submit {
    margin: 0 0 0 10px;
}
#submit:hover {
    background: #1885BA;
    color: white;
}


.pagination {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.pagination li {
    border: 1px solid #dddddd;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    padding: 11px 5px;
    margin: 0 5px;
    width: 30px;
    box-sizing: content-box;
    background: #ffffff;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.pagination li:hover {
    background: #EEEEEE;
}
.pagination .active {
    background-color: #09C;
    border: 1px solid #09C;
    color: #ffffff;
}
.pagination .active:hover {
    background: #09C;
}
.pageTip {
    flex: 1;
    text-align: right;
    padding: 0 20px 0 0;
}
.pagination+input {
    margin: 0 20px;
    width: 40px;
    height: 32px;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
}
.pageGo {
    padding: 0 8px;
    line-height: 30px;
    color: #333;
    border: 1px solid #dddddd;
    background-color: #f7f7f7;
}
footer {
    display: inherit;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 1040px;
    height: 200px;
}
